<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/rekuperacie/rekuperacia.css">

    <%- include('../partials/links.ejs') %>
    <title>Document</title>
</head>
<body>
      <%- include('../partials/header.ejs') %>

    <div class="container-fluid">
        </div>
        <div class="row ">
            <div class="col-lg-6 col-md-12 image">
                <h2 class="name-mobile"><%= rekuperacia.name %></h2>
               <img class="main-image" src="<%= rekuperacia.image %>" alt="">
            </div>
            <div class="top-description-container col-lg-6 col-md-12">
            <h2 class="name-desktop"><%= rekuperacia.name %></h2>
            <h3><%= rekuperacia.text %></h3>
            <h4><%= rekuperacia.price %></h4>
            <h5><%= rekuperacia.topDescription %></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-list  col-12">
                <% for( let i = 0; i < rekuperacia.listDescription.length; i++ ) { %>
                    <h6><%= rekuperacia.listDescription[i][0] %></h6>
                <% for( let x = 1; x < rekuperacia.listDescription[i].length; x++ ) { %>
                    <li> <%=rekuperacia.listDescription[i][x].substring(1) %> </li>
                <% } %>
                <% } %>

            </div>
        </div>

    </div>

</body>
</html>









