<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FISCHAIR</title>
    <link rel="stylesheet" href="/css/produkty/produkty.css">
    <%- include('../partials/links') %>
   </head>
<body>
    <!-- navbar -->
<%- include('../partials/header.ejs') %>
    <!-- navbar -->
    

    <div class="container">



        <div class="row">


        <% for(let i = 0; i< produkty.length; i++){ %>
            <div class="col-lg-4 col-md-6 col-sm-12 produkt" >

                <div class="card" >
                    <img src="<%= produkty[i].image %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"> <%= produkty[i].brand + " " + produkty[i].name %> </h5>
                      <p class="card-text"> <%= produkty[i].cardText %> </p>
                      <a href="<%= "/produkty"+produkty[i].link %>" class="btn ">Viac</a>
                      <h4 class="price"> <%= produkty[i].price+ " €" %></h4>
                    </div>
                  </div>
            </div>
            <% } %>

           

        </div>
    </div>



   <!-- <%- include('../partials/footer.ejs') %> -->
</body>
</html>